<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <link href="{% static 'css/kube.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/editor.css' %}" rel="stylesheet">
    <title>Simple kube form editor</title>
</head>
<body>
<div id="cover-wrap">
    <div class="wrap">
        <header id="header">
            <nav id="nav">
                <ul>
                    <li><h1><a href="/">Simple kube form editor</a></h1></li>
                </ul>
            </nav>
            <ul id="auth-area">
                {% if user.id != None %}
                    <h4><a href="{% url 'updateuser' %}" class="bold">
                        {% if user.first_name and user.last_name %}
                            {{ user.first_name }}&nbsp;{{ user.last_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </a>&nbsp;</h4>
                    <a href="{% url 'logout' %}">exit</a>
                {% endif %}
            </ul>

        </header>

    </div>
</div>
<div class="units-row" id="conteiner">
    <div class="unit-centered unit-60">
        {% block content %}

        {% endblock %}
    </div>
</div>
    {% block scripts %}
    {% endblock %}
</body>
</html>