{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="message message-{% if message.tags %}{{ message.tags }}{% endif %}">
                <span class="close"></span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post" class="forms forms-columnar"> {% csrf_token %}
        {% if form.errors and '__all__' in form.errors %}
            <ul class="lists-simple">
                {% for e in form.errors.values %}
                    <li><p class="error">{{ e.as_text }}</p></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% include 'input_field.html' with f=form.forms %}
    </form>
    <ul class="blocks-3 lists-simple">
        <li>
            <h1>Dialog</h1>
            <h1>Dialog</h1>
            <h1>Dialog</h1>
            <h1>Dialog</h1>
            <h1>Dialog</h1>
            <h1>Dialog</h1>
            <h1>Dialog</h1>

        </li>
        <li>
            <div id="sortable">

            </div>
        </li>
        <li>
            <ul id="draggable">
                <li type="text"><label>
                    Name
                    <input type="text" name="user-name" size="40"/>
                </label></li>
                <li type="checkbox"><p><input name="checkbox-01" type="checkbox"> <label>Name</label></p></li>
                <li type="select">
                    <p><label>Select</label><select>
                        <option>---</option>
                    </select></p>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/editor/model.js' %}"></script>
{% endblock %}