{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="message message-{% if message.tags %}{{ message.tags }}{% endif %}">
                <span class="close"></span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post" class="forms forms-columnar"> {% csrf_token %}
        {% if form.errors and '__all__' in form.errors %}
            <ul class="lists-simple">
                {% for e in form.errors.values %}
                    <li><p class="error">{{ e.as_text }}</p></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% include 'input_field.html' with f=form.forms %}
    </form>
    <ul class="blocks-2 lists-simple">
        <li>
            <div id="sortable">
                <script type="text/template" id="elementTmp">
                    <div class="toggle">
                            <div class="element">
                                <% if (type == 'input') { %>
                                    <label>
                                        <%= label %>
                                        <input type="<%= typeInput %>" name="<%= name %>" class="width-<%= width %>">
                                        <div class="forms-desc"><%= description %></div>
                                    </label>
                                <% } %>
                                <% if (type == 'checkbox') { %>
                                    <label><%= label %></label>
                                    <input type="<%= type %>" name="<%= name %>" class="width-<%= width %>">
                                    <div class="forms-desc"><%= description %></div>
                                <% } %>
                                <% if (type == 'select') { %>
                                    <label><%= label %></label>
                                    <select name="<%= name %>" class="width-<%= width %>">
                                        <option>-------------------</option>
                                    </select>
                                    <div class="forms-desc"><%= description %></div>
                                <% } %>
                            </div>
                            <button class="btn btn-small btn-red del-element" id-element="${id}">x</button>
                     </div>
                </script>

            </div>
        </li>
        <li>
            <ul id="draggable">
                <li type="text">
                    <label>
                        Name
                        <input type="text" name="user-name" size="40"/>
                    </label>
                </li>
                <li type="checkbox">
                    <label>Name</label>
                    <input name="checkbox-01" type="checkbox">
                </li>
                <li type="select">
                    <label>Select</label>
                    <select>
                        <option>-------------------</option>
                    </select>
                </li>
            </ul>
        </li>
    </ul>
    <div id="myModal" class="modal fade" style="display: none">
        <script type="text/template" id="dialogTmp">
            <div class="forms forms-columnar dialogScript" style="margin: 5%;">
                <p>
                    <label>Name</label>
                    <input id="textName" type="text" name="name-name" class="width-100" value="<%= name %>"/>
                </p>
                <p>
                    <label>Width</label>
                    <select id="widthValue" name="value-width" class="width-50">
			            <option>20</option>
			            <option>25</option>
			            <option>30</option>
			            <option>33</option>
			            <option>40</option>
			            <option>50</option>
			            <option>60</option>
			            <option>66</option>
			            <option>70</option>
			            <option>75</option>
			            <option>80</option>
			            <option>100</option>
		            </select>
                </p>
                <p>
                    <label>Description</label>
                    <input id="textDescription" type="text" name="name-name" class="width-100" value="<%= description %>"/>
                </p>
                <p>
                    <button class="btn btn-blue btnModal">Update</button>
                </p>
            </div>
        </script>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/editor/model.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/editor/view.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/editor/app.js' %}"></script>
{% endblock %}