{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="message message-{% if message.tags %}{{ message.tags }}{% endif %}">
                <span class="close"></span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post" class="forms forms-columnar"> {% csrf_token %}
        {% if form.errors and '__all__' in form.errors %}
            <ul class="lists-simple">
                {% for e in form.errors.values %}
                    <li><p class="error">{{ e.as_text }}</p></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% include 'input_field.html' with f=form.forms %}
    </form>
    <ul class="blocks-2 lists-simple">
        <li>
            <div id="sortable">
                <script type="text/template" id="elementTmp">
                    <div class="toggle">
                        <p>
                            <% if (type == 'input') { %>
                                <label>
                                    <%= label %>
                                    <input type="<%= typeInput %>" name="<%= name %>" class="width-<%= width %>">
                                </label>
                            <% } %>
                            <% if (type == 'checkbox') { %>
                                <label><%= label %></label>
                                <input type="<%= type %>" name="<%= name %>" class="width-<%= width %>">
                            <% } %>
                            <% if (type == 'select') { %>
                                <label><%= label %></label>
                                <select name="<%= name %>" class="width-<%= width %>">
                                    <option>-------------------</option>
                                </select>
                            <% } %>
                            <button class="btn btn-small btn-red del-element" id-element="${id}">x</button>
                        </p>
                     </div>
                </script>

            </div>
        </li>
        <li>
            <ul id="draggable">
                <li type="text">
                    <label>
                        Name
                        <input type="text" name="user-name" size="40"/>
                    </label>
                </li>
                <li type="checkbox">
                    <label>Name</label>
                    <input name="checkbox-01" type="checkbox">
                </li>
                <li type="select">
                    <label>Select</label>
                    <select>
                        <option>-------------------</option>
                    </select>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/editor/model.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/editor/view.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/editor/app.js' %}"></script>
{% endblock %}