{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'createform' %}" class="btn btn-green">Add form</a>
    {% if forms %}
        <table class="width-100 table-simple">
            <thead>
            <tr>
                <th>Form name</th>
                <th>Description</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                <tr>
                    <td><a href="#">{{ form.name }}</a></td>
                    <td>{{ form.description }}</td>
                    <td>
                        <a href="#" class="btn btn-blue">Edit</a>
                        <a href="#" class="btn btn-red">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}