#cover-wrap {
    background-color: #f4f5f6;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#sortable .element {
    padding: 2%;
    border: 1px dashed black;
}

#sortable {
    width: 100%;
    height: 500px;
    background: #ffffff;
    overflow: auto;
    border: 1px dashed #aaaaaa;
}

.toggle {
    background: #ffffff;
    margin: 15px 0 0 15px;
}

#header {
    padding-top: 2em;
}

#header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header a {
    color: #000;
    text-decoration: none;
}

#header a:hover {
    color: #000;
    text-decoration: underline;
}

#auth-area {
    float: right;
    margin: 0;
    margin-top: 7px;
    margin-right: 1.65em;
    list-style: none;
    color: #aaa;
    font-size: 12px;
}

#auth-area li {
    float: left;
    line-height: 1;
    margin-right: 5px;
}

#auth-area li a,
#auth-area li span {
    display: block;
    padding: 6px 10px;
}

#login-link {
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* =Nav
-----------------------------------------------------------------------------*/
#nav {
    float: left;
}

#nav ul {
    list-style: none;
    margin: 0;
}

#nav ul li {
    float: left;
    text-align: center;
    margin-right: .2em;
    margin-left: 0%;
}

#nav ul li:first-child a,
#nav ul li:first-child span {
    border-left: none;
}

#nav ul li a,
#nav ul li span {
    padding: 12px 2em;
    line-height: 1;
    text-decoration: none;
    display: block;
    border-left: 1px solid #ddd;
}

#nav ul li span {
    color: #999;
}

#conteiner {
    margin-top: 5%;
}

.del-element {
    float: right;
    margin-top: -40px;
}


.ui-widget.success-dialog {
    /*font-family: Verdana,Arial,sans-serif;*/
    /*font-size: .8em;*/
}

.ui-widget-content.success-dialog {
    background: #F9F9F9;
    border: 1px solid #080c04;
    color: #222222;
}

.ui-dialog.success-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.success-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin-left: 0;
}

.ui-dialog.success-dialog .ui-widget-header {
    background: #dedddc;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog.success-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}